$first-font: 'Source Sans Pro', sans-serif;
$second-font: 'Hind', sans-serif;

$background-picture-url: "../img/m-h-day.jpg";
$bg-color: #fff;
$content-bg-color: #21232e;

$button-color: #699900;

$heading-text-color: #2c2f3c;
$secondary-text-color: #c0c3ce;

$highlight-block-color: #14a0c7;

$card-img-width: ("1": 430px, "2": 415px, "3": 458px);
$card-heading-margin: ( '1': 48px 0 41px, '2': 45px 0 35px, '3': 59px 0 63px);
$card-link-margin: ('1':  20px 0, '2':  18px 0, '3':  30px 0);
$card-section-padding: ('1': 0 88px, "2": 0 89px, "3": 0 88px);

$first-gradient-color: #699901;
$second-gradient-color: #2b59de;

$banner-heading-margin: 24px 0 -2px;

$footer-cr-padding: 8px;